[Unit]
Description=linuxbot
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/linuxbot
ExecStart=/opt/linuxbot/linuxbot.mjs
EnvironmentFile=/opt/linuxbot/.env

[Install]
WantedBy=multi-user.target
